<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Все медицинские данные</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link th:href="@{/css/allTrainingProgram_style.css}" rel="stylesheet"/>
    <link rel="icon" href="data:,">
</head>
<body>
<form th:object="${client}">
    <div class="row title-row">
        <a th:href="@{/clients/__${client.id}__/trainingProgram}" class="button button_primary">
            <span class="arrow-icon">&larr;</span>
            Назад
        </a>
    </div>
</form>
<div th:each="trainingProgram : ${allTrainingProgram}" class="cycle-div">
    <div class="container">
        <form class="card form-horizontal">
            <fieldset>
                <form th:object="${trainingProgram}">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Дата добавления</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" name="dateTheDataWasAdded" class="form-control only-read" th:value="${#dates.format(trainingProgram.dateTheDataWasAdded, 'dd.MM.yyyy')}">
                            </div>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>№</th>
                            <td th:each="number  : ${trainingProgram.number}">
                                <input type="text" th:value="${number}" name="number" autocomplete="off" class="table-input only-read"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Нагрузка</th>
                            <td th:each="load : ${trainingProgram.loads}">
                                <input type="text" th:value="${load}" name="loads" autocomplete="off" class="table-input only-read"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Кол-во</th>
                            <td th:each="rep : ${trainingProgram.reps}">
                                <input type="text" th:value="${rep}" name="reps" autocomplete="off" class="table-input only-read"/>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Комментарий</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                <input name="comment" th:value="${trainingProgram.comment}" class="form-control only-read" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4"><br>
                            <a th:href="@{'/clients/' + ${trainingProgram.clientId} + '/trainingProgram/allTrainingProgram/delete/' + ${trainingProgram.id}}" class="button button_primary btn-delete" th:nameSurname="${client.name + ' ' + client.surname}">Удалить <i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>
                </form>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title">Удаление программы тренировок</h5>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Да</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/delete_trainingProg.js}"></script>
</body>
</html>