<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link th:href="@{/css/success-edit_style.css}" rel="stylesheet"/>
    <link rel="icon" href="data:,">
    <title>Клиент изменён</title>
</head>
<body>
<div class="card">
    <div style="border-radius:200px; border: 3px solid; border-color: #ffff00; height:200px; width:200px; background: #0d0d0d; margin:0 auto;">
        <i class="checkmark">✓</i>
    </div>
    <h1>Клиент был успешно изменён!</h1>
    <div class="back-button">
        <a href="/" class="button button_primary">
            <span class="arrow-icon">&larr;</span>
            Назад к стартовой странице
        </a>
    </div>
</div>
</body>
</html>